h1, h2, p{
    color: white;
    margin: 0;
    text-align: center;
}
h1 {
    font-size: 6rem;

}

h2 {
    font-size: 3.5rem;
}



.inputContainer select {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.5rem;
    padding: 7px 0;
    transition: linear 0.1s all;
    // &:hover {
    //     border: 10px ridge $darkBlue
    // }
    }

button {
    font-size: 2rem;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 20px ridge $darkBlue;
    font-weight: 700;
    transition: color 0.2s linear, background-color 0.2s linear;
    &:hover {
        color: white;
        background-color: black;
    }
    &:active {
        font-size: 1.9rem;
    }

}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
}

header {
    @include headerStyle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/unsplashHeader1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 600px;
    h1, p {
        color: white;
        text-shadow: 2px 2px 2px #000000;  
    }
    p {
        font-size: 1.5rem;
    }
}

section {
    padding: 75px;
    @include bodyStyle;
    h2 {
        padding: 20px;
    }
}

.recipeInput {
    background-color: $niceBlue;
}

.recipeOutput {
    background-color: $darkBlue;
}

.formContainer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.inputContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-basis: 45%;
    label {
        padding-bottom: 20px;
    }
}

label {
    color: white;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.recipeOutput .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeTitle {
    text-transform: capitalize;
}

.recipeHolder {
    width: 100vw;
    display: flex;
    justify-content: center;
    .textContainer,.imgContainer {
        width: 50%;
    }
}

.textContainer {
    padding: 25px 25px 25px 50px;
    p {
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
    object-fit: cover;
    width: 500px;
    max-width: 600px;
    border-radius: 5%;
    border: white solid 5px;
    transition: all linear 0.2s;
    &:hover {
        width: 600px;
    }
    }
}


footer {
    @include bodyStyle;
    background-color: $niceBlue;
    padding: 25px 0;
    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: black;
        }
    }
}


