h1, h2, p{
    color: white;
    margin: 0;
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

header {
    @include headerStyle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/unsplashHeader1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 600px;
    h1, p {
        color: white;
        text-shadow: 2px 2px 2px #000000;  
    }
    p {
        font-size: 1.2rem;
    }
}

section {
    padding: 200px;
    @include bodyStyle;
    h2 {
        padding: 20px;
    }
}

.recipeInput {
    background-color: $niceBlue;
}

.recipeOutput {
    background-color: $darkBlue;
}

.formContainer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.inputContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-basis: 45%;
    label {
        padding-bottom: 20px;
    }
}

label {
    color: white;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.recipeOutput .wrapper {
    display: flex;
    justify-content: center;
    .textContainer, .imgContainer {
        width:50%;
    }
}

.textContainer {
    padding: 25px;
    p {
        text-align: left;
    }
}

footer {
    @include bodyStyle;
    background-color: $niceBlue;
    padding: 25px 0;
    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: black;
        }
    }
}


